<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='eposta.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="icons8-archive-48.png" type="image/x-icon" />    
    <title>Review Tour</title>
</head>
<body>
    <section>
        <form action="/post" method="Post">
            <nav class="rightform">
                <span><label>Message</label><input type="text" name="post" id="post"></span><br>
            </nav>
            <input type="submit" value="Send" class="savebutton">
        </form>
        
    </section>


    <script>
        let name='{{name}}';
        let post= '{{posta}}';
        if(post!="" ){
            alert("Mesajınız teslim edildi, mesajınız: "+post);
        }
    </script>
</body>
</html>