<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='Home.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="icons8-archive-48.png" type="image/x-icon" />    
    <title>Review Tour</title>
</head>
<body>
    <header>
        <section class="head">
            <nav class="contact">
                <ul class="contact-items">
                    <li class="contact-item">
                        <a href="mailto:kaynakkadir56@gmail.com">kaynakkadir56@gmail.com</a>
                    </li>
                    <li class="contact-item">
                        <a href="">kaynakkadir56@gmail.com</a>
                    </li>
                </ul>
            </nav>
            <nav id="dnm">
                <ul class="head-items">
                    <li class="head-item">
                        <a href="{{url_for('signup')}}"><i class="fa-solid fa-user fa-lg"></i></a>
                    </li>
                </ul> 
            </nav>
        </section>
        <section class="title">
            <section class="-title">
                <h1>Review Tour</h1>
            </section>
            <section class="side-title">
                <ul class="search-items">
                    <li class="search-item" >
                        <a href="#" style="color:#579BB1 !important">Home</a>
                    </li>
                    <li class="search-item">
                        <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">Book Types</a>
                        <div class="dropdown-content" id="myDropdown">
                            <a href="#">Philosophy</a>
                            <a href="#">Classics</a>
                            <a href="#">Detective</a>
                            <a href="#">Autobiographies</a>
                            <a href="#">Sci-Fi</a>
                            <a href="#">History</a>
                        </div>  
                    </li>
                    <li class="search-item">
                        <a href="#">Movie Types</a>
                    </li>
                    <li class="search-item">
                        <a href="#">New Releases</a>
                    </li>
                    <li class="search-item">
                        <a href="{{('post')}}">Posta</a>
                    </li>
                </ul>
                
            </section>
        </section>
        <hr style="margin-top: 1%; margin-bottom: 9%; width: 90%; margin-left: 5%; border-bottom: 0.5px  solid #363533;">
    </header>
    <main>
        <nav class="main-title">
            <img src="{{ url_for('static', filename='img/photo-1558210834-473f430c09ac.jpeg')}}" alt="">
            <nav>
                <p>Review Tour</p>
                <span>
                    On this site, you can find must-read books of all time, award-winning books and impressive stories. <br><br>
                    "A child who grows without books is like a tree that grows without water." Chinese Proverb
                </span>
            </nav>
        </nav>
        <br><br><br>
        <nav class="last-content">
            <h1>Latest Books</h1>
            <hr>
        </nav><br><br>
        <section class="main-content">
            <nav class="item1" id="deneme1">
                <img src="{{ url_for('static', filename='img/whitefang.png')}}" alt="" width="300px" height="462px">
                <button><a href="{{url_for('whitefang')}}" style="text-decoration: none; color: #fff;">Read More</a></button>
                <p>White Fang</p>
                <span>10 min read</span>
            </nav>
            <nav class="item1">
                <img src="{{ url_for('static', filename='img/sherlockHolmes.jpg')}}" alt="" width="300px">
                <button><a href="{{url_for('sherlock')}}" style="text-decoration: none; color: #fff;">Read More</a></button>
                <p>Sherlock Holmes</p>
                <span>10 min read</span>
            </nav>
            <nav class="item1">
                <img src="{{ url_for('static', filename='img/Karamazov.jpg')}}" alt="" width="300px" height="462px">
                <button><a href="{{url_for('Thebro')}}" style="text-decoration: none; color: #fff;">Read More</a></button>
                <p>The Brother Karamazov</p>
                <span>10 min read</span>
            </nav>
            <nav class="item1">
                <img src="{{ url_for('static', filename='img/1984.jpg')}}" alt="" width="300px" height="462px">
                <button><a href="{{url_for('e')}}" style="text-decoration: none; color: #fff;">Read More</a></button>
                <p>1984</p>
                <span>10 min read</span>
            </nav>
            <nav class="item1">
                <img src="{{ url_for('static', filename='img/AnimalFarm.jpg')}}" alt="" width="300px" height="462px">
                <button><a href="{{url_for('animalfarm')}}" style="text-decoration: none; color: #fff;">Read More</a></button>
                <p>Animal Farm</p>
                <span>10 min read</span>
            </nav>
            <nav class="item1">
                <img src="{{ url_for('static', filename='img/Nutuk.jpg') }}" alt="" width="300px" height="462px">
                <button><a href="{{url_for('nutuk')}}" style="text-decoration: none; color: #fff;">Read More</a></button>
                <p>Nutuk</p>
                <span>10 min read</span>
            </nav>
        </section>
        <br><br><br>
        <section class="about-me">
            <nav class="_img">
                <img src="{{ url_for('static', filename='img/_img.jpg') }}" alt="" width="700dp">
            </nav>
            <nav class="me">
                <nav>
                    <h1>About Me</h1>
                    <img src="{{ url_for('static', filename='img/koios-titan.jpg') }}" width="100px" alt="">
                    <h1 style="margin-top: 3% !important;">Koios</h1>
                </nav>
                <span>
                    My name is Kadir Kaynak! I'm currently a 16 years old 
high school student I'm interested in Software.
I like to learn new things and improve myself. I like 
reading books and watching Movies. My favorites are 
History, Psychology, Science Fiction and Philosophical
Books. I am interested in books with a novel-style plot. 
And it's definitely a pleasure for me to drink coffee.
                </span>
            </nav>
        </section>
        <section class="side-content">
            <nav class="bar">
                <nav class="bar-items" id="bar-items_1">
                    <img src="{{ url_for('static', filename='img/platoo.jpg') }}" alt="" width="300px" height="450px">
                    <div style="text-align: left; padding-top: 3%;">
                        <p>Republic</p>
                        <span style="font-size: 14px; letter-spacing: 1px; color: #4a4947b5;">Republic is Plato's timeless classic of philosophy, politics, and ethics..</span><br>
                        <a href="{{url_for('republic')}}"><button class="e" style="border: 0px; background-color: #81d3ef; font-family: 'Roboto'; padding: 5px; margin-top: 3%;">Read More</button></a>
                    </div>
                </nav>
                <nav class="bar-items" id="bar-items_2">
                    <img src="{{ url_for('static', filename='img/The Socratic Method.jpg') }}" alt="" width="300px" height="450px">
                    <div style="text-align: left;padding-top: 3%;">
                        <p>The Socratic Method</p>
                        <span style="font-size: 14px; letter-spacing: 1px; color: #4a4947b5;">A thinking person’s guide to a better life. Ward Farnsworth...</span><br>
                        <a href="{{url_for('thesoc')}}"><button class="e" style="border: 0px; background-color: #81d3ef; font-family: 'Roboto'; padding: 5px; margin-top: 3%;">Read More</button></a>
                    </div>
                </nav>
            </nav>
            <nav class="side-bar">
                <span style="display: inline; text-align: center; font-size: 24px; font-family: 'Roboto'; font-weight: bolder; color: #363533;">Trending</span>
                <div><hr style="width: 50px; border: 2px solid #363533; text-align: center; margin-bottom: 5%;"></div>
                <nav class="side-bar-items">
                    <nav class="side-bar-item">
                        <img src="{{ url_for('static', filename='img/Sapiens.jpg') }}" height="120px" width="100%" alt="">
                        <span class="item-text">
                            <p>Sapiens: A Graphic History</p>
                            <p style="font-size: 14px; font-weight: normal; margin-top: 5%;">The first volume of the graphic adaptation of Yuval Noah Harari's..</p>
                        </span>
                    </nav>
                    <nav class="side-bar-item">
                        <img src="{{ url_for('static', filename='img/tolstoy1.jpg') }}" height="120px" width="100%" alt="">
                        <span class="item-text">
                            <p>Leo Tolstoy</p>
                            <p style="font-size: 14px; font-weight: normal; margin-top: 5%;">The Kingdom Of God Is Within You</p>
                        </span>
                    </nav>
                    <nav class="side-bar-item">
                        <img src="{{ url_for('static', filename='img/nietcieh.jpg') }}" height="120px" width="100%" alt="">
                        <span class="item-text">
                            <p>Friedrich Nietzsche</p>
                            <p style="font-size: 14px; font-weight: normal; margin-top: 5%;">First published in 1886, Beyond Good and Evil goes into detail of Thus Spoke Zarathustra, Nietzsche’s earlier work...</p>
                        </span>
                    </nav>
                </nav>
                
            </nav>
        </section>
    </main>
    <br>
    <section class="buttons">
        <button> < Previous </button>
        <nav style="display: flex; justify-content: center; column-gap: 10px;">
            <button style="width: 40px;text-align: center"> 1 </button>
            <a href="{{url_for('pageTwo')}}" style="text-decoration: none; color: #fff;"><button id="next" style="width: 40px;text-align: center;margin-left: 1%; background-color: #81d3ef;"> 2 </button></a>    
        </nav>
        <a href="{{url_for('pageTwo')}}"><button id="next" style="float: right;  background-color: #81d3ef;"> Next > </button></a>
    </section>
    <footer class="foot">
        <section class="foot-contact">
            <nav class="promotion">
                <p>Review Tour</p>
                <div>
                    Hello, I'm Kadir Kaynak. This Blog will feature book, 
                    movie and TV series reviews. I hope you like the contents
                </div>
            </nav>
            <nav class="menu">
                <p>Menu</p>
                <ul class="menu-items">
                    <li class="menu-item" >
                        <a href="#">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">About Us</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Contact Us</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">New Releases</a>
                    </li>
                </ul>
            </nav>
            <nav class="menu">
                <p>Disclosures</p>
                <ul class="menu-items">
                    <li class="menu-item" >
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Affiliate Disclosure</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Terms and Conditions</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Disclaimer</a>
                    </li>
                </ul>
            </nav>
            <nav class="Author">
                <p>About The Author</p>
                <a href="https://github.com/Koiosq"><img src="{{ url_for('static', filename='img/koios-titan.jpg') }}" alt=""></a>
                <p>Koios</p>
            </nav>
        </section>
        <section class="c">
            <p style="color: #4a4947; font-size: 16px;">
                Copyright 2023 - All Rights Reserved
            </p>
            <section class="sm">
                <a href=""><img src="{{ url_for('static', filename='img/instagram.png') }}" style="margin-top: 6%;" alt=""></a>
                <a href="https://twitter.com/KadirKynK134"><img src="{{ url_for('static', filename='img/twitter.png') }}" style="margin-top: 6%;" alt=""></a>
                <a href="https://github.com/Koiosq"><img src="{{ url_for('static', filename='img/github.png') }}" style="margin-top: 6%;" alt=""></a>
                <a href="mailto:kaynakkadir56@gmail.com"><img src="{{ url_for('static', filename='img/gmail.png') }}" style="margin-top: 6%;" alt=""></a>
                <a href=""><img src="{{ url_for('static', filename='img/spotify-logo.png') }}" style="margin-top: 6%;" alt=""></a>
            </section>
        </section>
    </footer>
    <script src="{{ url_for('static', filename='Home.js') }}"></script>
</body>
</html>